extends layout

block content
  .container
    .row.pt-25.fixed
      .twelve.columns
        h1.bold.title Concerts

    .row.pt-150
      table.u-full-width
        thead.bold
          tr
            th DATE
            th LOCATION
            th VENUE
            th TICKETS
        tbody
          tr
            td OCT 09
            td NEW YORK, NY, USA
            td GREAT HILL CENTRAL PARK
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td OCT 20
            td MONTERREY, MEXICO
            td LIVE OUT FESTIVAL
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td OCT 22
            td MEXICO CITY, MEXICO
            td PALACIO DE LOS DEPORTES
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td OCT 23
            td MEXICO CITY, MEXICO
            td PALACIO DE LOS DEPORTES
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td NOV 23
            td ABU DHABI, UAE
            td ABU DHABI F1
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td NOV 30
            td HONG KONG, CHINA
            td ASIAWORLD EXPO ARENA
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td DEC 02
            td BANGKOK, THAILAND
            td IMPACT ARENA
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td DEC 05
            td SINGAPORE, SINGAPORE
            td INDOOR STADIUM
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td DEC 07
            td BALI, INDONESIA
            td DJAKARTA WAREHOUSE PROJECT
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td DEC 09
            td SINGAPORE, SINGAPORE
            td NANGANG C3 PLAZA
            td
              button.action
                a(href="" alt="").reset-link.edit Edit
          tr
            td DEC 12
            td SEOUL, SOUTH KOREA
            td GOCHEOK SKY DOME
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
          tr
            td DEC 15
            td CHIBA PREFECTURE, JAPAN
            td MAKUHARI MESSE
            td
              button.action
                a(href="" alt="").reset-link.edit EDIT
