extends layout

block content
  .container
    .row.pt-25.fixed
      .twelve.columns
        h1.bold.title Manage
    
    .row.pt-125
      .six.columns
        h5.bold Store Information
        form(autocomplete="off")
        
          .input-group
            input(type="text" name="store-name" required)
            label(for="store-name") Store Name
            
          .input-group
            textarea.autoExpand(type="text" name="store-bio" data-min-rows="1" rows="1" required)
            label(for="store-bio") Store Bio

          button.save(type="submit") Save

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/javascripts/textarea.js")