extends layout

block content
  .container2
    include sidebar.pug
    .content.orders
      nav.header
        h1.bold.title Order #12345
        
      main
        aside
          h3 Order #12345
          br
          h5.bold Order Information
          ul Items:
            li 199X FLEECE PULLOVER HOOD 
            li SPONSORED COLLARED LONGSLEEVE RUGBY
          p Quanity
          p Price
          p Status
          br
          h5.bold Customer Information
          p John Smith
          p 123 Loop Lane
