extends layout

block content
  .container
    .row.pt-25.fixed
      .twelve.columns
        h1.bold.title Orders
    
    .row.pt-150
      .six.columns
        h3.bold Unfulfilled
        table.u-full-width
          thead.bold
            tr
              th Order #
              th Customer
              th Ordered
              th Total
              th Status
          tbody
            tr
              td #12685
              td John Smith
              td 10-13-18
              td $79.88
              td Paid | Unfulfilled
            tr
              td #12686
              td Terry Jones
              td 10-13-18
              td $22.06
              td Paid | Unfulfilled
            tr
              td #12687
              td Jessica Ray
              td 10-13-18
              td $19.98
              td Paid | Unfulfilled
            tr
              td #12687
              td Megan Holt
              td 10-13-18
              td $55.94
              td Paid | Unfulfilled

        h3.bold Fulfilled
        table.u-full-width
          thead.bold
            tr
              th Order #
              th Customer
              th Date Ordered
              th Total
              th Status
          tbody
            tr
              td #12685
              td John Smith
              td 10-13-18
              td $79.88
              td Paid | Unfulfilled
            tr
              td #12686
              td Terry Jones
              td 10-13-18
              td $22.06
              td Paid | Unfulfilled
            tr
              td #12687
              td Jessica Ray
              td 10-13-18
              td $19.98
              td Paid | Unfulfilled
            tr
              td #12687
              td Megan Holt
              td 10-13-18
              td $55.94
              td Paid | Unfulfilled

      .four.columns
        h3 Order #12685
        br
        h5.bold Order Information
        ul Items:
          li 199X FLEECE PULLOVER HOOD 
          li SPONSORED COLLARED LONGSLEEVE RUGBY
        p Quanity
        p Price
        p Status
        br
        h5.bold Customer Information
        p John Smith
        p 123 Loop Lane
