extends layout

block content
  .container
    .row.pt-25.fixed
      .six.columns
        h1.bold.title Products
      .two.columns.offset-by-one
        h3.bold(style="padding-top: 10px; font-size: 28px") Filter
      .three.columns
        input#search(type="search" name="" placeholder="Search...")

    .row.pt-125
      .twelve.columns
        .grid
          .add
            img.fluid(src="/images/add.svg" style="width: 100%" alt="Add Product")
          a(href="/products/bape-black-tee")  
            .item
              img.fluid(src="/images/products/bape-black-tee.png" alt="T-Shirt")
              button.badge Exclusive
          a(href="/products/black-xo-logo-tee")  
            .item
              img.fluid(src="/images/products/black-xo-logo-tee.png" alt="T-Shirt")
          a(href="/products/longsleeve-camo")  
            .item
              img.fluid(src="/images/products/longsleeve-camo.jpg" alt="T-Shirt")
          a(href="/products/march-14-tee")  
            .item
              img.fluid(src="/images/products/march-14-tee.png" alt="T-Shirt")
          a(href="/products/xo-tat-tee")
            .item
              img.fluid(src="/images/products/xo-tat-tee.jpg" alt="T-Shirt")
          a(href="/products/longsleeve-orange")
            .item
              img.fluid(src="/images/products/longsleeve-orange.png" alt="T-Shirt")
          a(href="/products/orange-tee")
            .item
              img.fluid(src="/images/products/orange-tee.png" alt="T-Shirt")
          a(href="/products/teal-hoodie")
            .item
              img.fluid(src="/images/products/teal-hoodie.png" alt="T-Shirt")
          a(href="/products/orange-hoodie")
            .item
              img.fluid(src="/images/products/orange-hoodie.png" alt="T-Shirt")
          a(href="/products/bape-black-hoodie")
            .item
              img.fluid(src="/images/products/bape-black-hoodie.png" alt="T-Shirt")
          a(href="/products/bape-orange-camo")
            .item
              img.fluid(src="/images/products/bape-orange-camo.png" alt="T-Shirt")