extends layout

block content
  .container
    .row.pt-25.fixed
      .twelve.columns
        h1.bold.title Add a Product

    form(action="/products/add" method="POST" enctype="multipart/form-data")
      .row.pt-150.flex
        .six.columns
          .product-hero(style="padding: 100px")
              img.fluid(src="/images/camera-icon.svg" alt="Add Product Image")
        .five.columns.offset-by-one.flex(style="position: relative")
          .product-details
            .title-and-price
                input.product-title.live-input(type="text" name="title" placeholder='Product Title')
                input.product-price.live-input(type="text" name="price" placeholder="$")
            .product-description.mt-25
                textarea.autoExpand.live-input(name="description" placeholder="Product Description")
            .product-buttons
              select.sizes
                option Small
                option Medium
                option Large
              button.btn.action(type="submit") Add

      //- .row.mt-7-5
      //-   .six.columns
      //-     .grid
      //-       img.fluid
      //-       img.fluid(src="/images/products/teal-hoodie.png" alt="PRODUCT NAME HERE")
      //-       img.fluid.opacity-50(src="/images/products/teal-hoodie.png" alt="PRODUCT NAME HERE")


      .row.mt-75
        .twelve.columns
          h2.bold Related
      
      .row.mt-35
        .twelve.columns
          .grid
            a(href="/products/teal-hoodie")
              .item
                img.fluid(src="/images/products/red-hoodie.jpg" alt="Related Product: Red Hoodie")
            a(href="/products/longsleeve-overdose")
              .item
                img.fluid(src="/images/products/longsleeve-overdose.jpg" alt="Related Product: Longsleeve Overdose")
                button.sold-out.badge Sold Out!
            a(href="/products/orange-hoodie")
              .item
                img.fluid(src="/images/products/orange-hoodie.png" alt="Related Product: Orange Hoodie")
            a(href="/products/beige-hoodie")
              .item
                img.fluid(src="/images/products/beige-hoodie.jpg" alt="Related Product: Beige Hoodie")


  script(src="/javascripts/textarea.js")
  script(src="/javascripts/edit.js")