block sidebar
  nav#sidebar
    img#profile-picture(src='/images/theweeknd.jpg')

    ul
      li#selected
        a(href="/") Dashboard
      li
        a(href="/products") Products
      li
        a(href="/orders") Orders
      li
        a(href="/concerts") Concerts
      li
        a(href="/manage") Manage

    ul#logout
      li Logout

    span.divider