body {
  font: 14px 'Muli', sans-serif;
  background-color: #fff; }

.container {
  margin-left: 253px; }

nav#sidebar {
  grid-area: sidebar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 150px;
  height: 100vh;
  padding: 50px; }

#profile-picture {
  max-width: 100%;
  height: auto;
  background: #fff;
  border: 7.5px solid transparent;
  border-image: linear-gradient(to top right, #704CE5 0%, #4C66E6 50%, #4CB3E6 100%);
  border-radius: 100%;
  border-image-slice: 1;
  border-image-outset: 3px;
  margin-bottom: 75px; }

#sidebar ul {
  list-style: none;
  font-size: 24px;
  color: #704CE5;
  text-align: center; }
  #sidebar ul li {
    text-align: center;
    margin-bottom: 30px;
    position: relative; }
    #sidebar ul li a {
      color: inherit;
      text-decoration: none; }
    #sidebar ul li:hover {
      color: inherit; }

#sidebar ul#logout {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%; }

#selected:after {
  content: '';
  width: 100%;
  height: 3px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, white 25.1%, white 27.6%, rgba(255, 255, 255, 0) 27.7%, rgba(255, 255, 255, 0) 50%, white 50.1%, white 52.6%, rgba(255, 255, 255, 0) 52.7%, rgba(255, 255, 255, 0) 73%, white 73.1%, white 75.6%, rgba(255, 255, 255, 0) 75.7%, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, #864DE6 0%, #4CB3E6 100%);
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 25px; }

.divider {
  display: inline-block;
  border-right: 3.5px solid transparent;
  border-image: linear-gradient(to bottom, #704CE5 0%, #CC4CE6 20%, #4C6DE6 65%, #704CE5 100%);
  border-radius: 100%;
  border-image-slice: 1;
  border-image-outset: 3px;
  height: calc(100vh - 50px);
  margin: 25px 0;
  position: absolute;
  right: 0;
  top: 0; }

.bold {
  font-weight: bold; }

.title {
  margin-bottom: 15px; }

.row {
  padding-left: 50px; }

.fluid {
  max-width: 100%;
  height: auto; }

.mt-7-5 {
  margin-top: 7.5px; }

.mt-25 {
  margin-top: 25px; }

.mt-35 {
  margin-top: 35px; }

.mt-50 {
  margin-top: 50px; }

.mt-75 {
  margin-top: 75px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-50 {
  margin-bottom: 50px; }

.pt-25 {
  padding-top: 25px; }

.pt-50 {
  padding-top: 50px; }

.pt-100 {
  padding-top: 100px; }

.pt-125 {
  padding-top: 125px; }

.pt-150 {
  padding-top: 150px; }

.opacity-50 {
  opacity: .5; }

table {
  font-family: Oswald; }
  table thead {
    font-size: 20px;
    font-weight: bold; }
  table tbody tr {
    font-size: 18px; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 75px 25px; }

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px; }
  .add .plus {
    font-size: 100px; }

#search {
  width: 200px;
  justify-self: right;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 600;
  border: 2px solid #8c8c8c;
  padding: 25px 15px;
  cursor: text; }
  #search:hover, #search:hover::placeholder, #search:focus::placeholder, #search:focus {
    border-color: black;
    opacity: 1; }

.fixed {
  position: fixed; }

.inherit {
  position: inherit !important; }

.item {
  position: relative; }

button.badge {
  border: 1.75px solid black;
  font-weight: bold;
  font-size: 16px;
  height: 32px;
  line-height: 29px;
  padding: 0px 4px;
  color: black;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: white;
  letter-spacing: 0px;
  font-style: italic;
  text-transform: uppercase; }

.badge.sold-out {
  border-color: #ff2c2c;
  color: #ff2c2c; }

button.action {
  border: 2.5px solid;
  border-image: linear-gradient(to top right, #704CE5 0%, #4C66E6 50%, #4CB3E6 100%);
  border-image-slice: 1;
  border-image-outset: 0px; }

.product-details {
  display: grid;
  grid-template-columns: .75fr .75fr;
  grid-gap: 100px; }

.product-info {
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  width: 100%; }

.title-and-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px; }

.product-title {
  font-weight: bold;
  text-transform: uppercase;
  width: 85%;
  cursor: pointer;
  margin: 0; }

.product-price {
  text-align: right;
  font-weight: bold;
  width: 100px;
  margin: 0; }

.price {
  font-size: 30px; }

.product-hero {
  cursor: pointer; }

.product-description {
  color: rgba(39, 39, 39, 0.75);
  text-transform: uppercase;
  font-size: 16px;
  flex-grow: 1;
  cursor: pointer; }
  .product-description textarea {
    width: 100%;
    height: 250px;
    resize: none;
    font-size: 16px;
    letter-spacing: 0px; }

.product-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.btn {
  font-weight: bold;
  border: 1.75px solid black;
  text-transform: uppercase;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 0px;
  padding: 0 38px;
  line-height: 35px; }
  .btn:hover {
    border: 1.75px solid black; }

select.sizes {
  text-transform: uppercase;
  border: 1.75px solid #000;
  border-radius: 0px;
  text-align-last: center;
  font-size: 16px;
  font-weight: bold;
  width: 111px; }

.flex {
  display: flex;
  flex: 1; }

.green {
  border: none;
  font-size: 14px;
  background-color: limegreen;
  margin-bottom: 0; }

.reset-link {
  color: white;
  text-decoration: none; }

td {
  border-bottom: none; }

.live-input {
  font-size: 3rem;
  border: none !important;
  padding: 0 !important;
  letter-spacing: -0.8px;
  overflow-wrap: normal;
  cursor: auto;
  text-transform: uppercase; }

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  min-width: 300px;
  background-color: transparent;
  align-self: center;
  z-index: 2;
  transition: 0.3s all; }
  form .input-group {
    width: 100%;
    margin: 25px 0;
    position: relative; }
    form .input-group label {
      font-size: 15px;
      display: block;
      position: absolute;
      top: 0px;
      z-index: -1;
      transition: 0.3s;
      color: #555555; }
    form .input-group input, form .input-group textarea {
      min-height: unset;
      height: 30px;
      width: 100%;
      padding: 0;
      border: none;
      border-bottom: 2px solid #ccc;
      border-radius: 0;
      background: transparent;
      outline: none;
      z-index: 1;
      font-size: 20px;
      transition: 0.3s;
      color: #272727;
      resize: none; }
      form .input-group input:focus, form .input-group input:valid, form .input-group textarea:focus, form .input-group textarea:valid {
        border: none;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(to right, #704CE5 0%, #CC4CE6 20%, #4C6DE6 65%, #704CE5 100%);
        border-image-slice: 1;
        border-image-outset: 3px; }
        form .input-group input:focus + label, form .input-group input:valid + label, form .input-group textarea:focus + label, form .input-group textarea:valid + label {
          transform: translateY(-25px);
          font-size: 14px;
          color: black; }

.autoExpand {
  height: auto !important;
  overflow: hidden; }

.save {
  bottom: 50px;
  right: 75px;
  background-color: limegreen;
  color: white !important;
  border: none;
  font-size: 16px;
  font-weight: bold; }
  .save:hover {
    color: white; }

.edit {
  background-color: orange;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold; }
  .edit a:hover {
    color: white; }

.delete {
  background-color: #ee2e24;
  font-size: 16px;
  font-weight: bold;
  border: none; }
  .delete a {
    color: white;
    text-decoration: none; }

.align-self-center {
  align-self: center; }

body.login {
  display: flex;
  background: linear-gradient(to right, #55bbe9 0%, #5d55e9 50%, #d256e9 100%);
  width: 100%;
  height: 100vh; }

form.card {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 20px;
  padding: 50px 100px; }

.white {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -2; }

.text-black {
  color: black; }

.full-width {
  width: 100% !important; }

button.gradient {
  background: linear-gradient(to left, #55bbe9 0%, #5d55e9 50%, #d256e9 100%);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  transition: .3s; }
  button.gradient:hover {
    border: none;
    border-radius: 10px; }
  button.gradient:focus {
    border: 1px solid #ccc;
    box-sizing: border-box; }

input:-webkit-autofill {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; }

.concert-full {
  padding: 0px;
  max-height: 400px !important;
  min-width: 100%; }

.concert-hero {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: 0px -420px; }

.concert-title {
  position: absolute;
  top: 50px;
  left: 50px;
  color: #fff;
  text-shadow: 3px 3px 3px #fe5492; }

.container2 {
  margin-left: 253px;
  width: 100%;
  all: unset;
  display: grid;
  grid-template-columns: 253px auto;
  grid-template-areas: "sidebar content"; }

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px; }

.content {
  width: -webkit-fill-available;
  grid-area: content;
  margin: 0px 50px; }

.orders {
  display: grid;
  grid-column-gap: 50px;
  grid-template-areas: "header header" "content aside"; }

.manage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-areas: "header header" "content content"; }

.header {
  background-color: white;
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  grid-area: header; }

aside {
  grid-area: aside; }

/*# sourceMappingURL=style.css.map */